/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= 
 *= require fullcalendar
*= require bootstrap-datetimepicker
 */
@font-face{
	font-family: 'Impact';
	src: url('Impact.ttf');
}

body{
	background-color: #fff;
}
.alert, .notice{
	position: fixed;
    font-size: 10px !important;
    top: 5px;
    left: 10px;
    padding: 0;
    margin: 0;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
header{
	background-color: #000957;
}
header a:hover{
	text-decoration: none;
}
h1{
	font-family: 'Impact';
	font-size: 10em;
	color: #f70;
	text-align: left;
	margin: 0 0 0 -5px;
	line-height: .8;
	text-shadow: .05em 0px 1px #f30;
}
p{
	color: #555;
}
label{
	padding: 0 !important;
}
.form-group{
	margin: 0 !important;
	margin-right: 5px !important;
}
.sessionInfo{
	text-align: right;
	padding: 10px;
}
#signout{
	line-height: 2em;
	font-size: 3em;
	margin-right: 50px;
	color: #54a1e9;
}
