// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	font-family: 'Impact';
	font-size: 20em;
	color: #f70;
	text-align: center;
}
p{
	color: #fff;
	text-align: center;
	font-size: 1.5em !important;
}
form{
	text-align: center;
}
.progress-bar{
	background-image: linear-gradient(#f50, #f05);
}
.progress-bar#earnedBudget{
	background-image: linear-gradient(#5f0, #0f5);
}
#newEvent{
	display: none;
	.form-group{
		margin: 0 10px;
	}
}
.budgetforms, .budgcatform, .transactionforms{
	display: none;
}
#datetimeinputs, #datetimecols{
	margin: 0;
	padding: 0;
}
#datetimeinputs{
	width: 100%;
}
#datetimecols{
	width: 50%;
}