// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
	font-family: 'Impact';
	font-size: 20em;
	color: #f70;
	text-align: center;
}
p{
	color: #fff;
	text-align: center;
	font-size: 1.5em !important;
}
form{
	text-align: center;
}